# Configurações do banco de dados MySQL
spring.datasource.url=jdbc:mysql://localhost:3306/flixapi?createDatabaseIfNotExist=true
spring.datasource.username=seu_usuario
spring.datasource.password=sua_senha

